version: "3"
services:
 presta_smtp:
  image: namshi/smtp
  networks:
   - prestashop-net
 presta_sql:
  image: mysql:5.7
  volumes:
   - ./database:/docker-entrypoint-initdb.d
  restart: always
  environment:
   MYSQL_ROOT_USER: root
   MYSQL_DATABASE: prestashop
   MYSQL_ROOT_PASSWORD: admin
  networks:
   - prestashop-net
  ports:
   - 3307:3306

 presta_presta:
  depends_on:
   - presta_sql
  image: prestabiznes
  build:
   context: .
   dockerfile: Dockerfile
  volumes:
   - ./scripts/ssl:/etc/apache2/sites-available
   - ./src:/var/www/html
  environment:
   DB_PREFIX: ps_
   DB_SERVER: presta_sql
   PS_INSTALL_AUTO: 0
   PS_ERASE_DB: 0
   DB_USER: root
   DB_PASSWD: admin
   DB_NAME: prestashop
   PS_DEV_MODE: 1
   PS_FOLDER_ADMIN: admin1
   PS_ENABLE_SSL: 1
  networks:
   - prestashop-net
  ports:
  - 8091:443 
  - 8090:80
  depends_on:
   - presta_sql
networks:
 prestashop-net:
